/* styles.css */

/* Fonte Coquette */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');

/* Estilos Gerais */
body {
    font-family: 'Playfair Display', serif; /* Fonte coquette */
    background-color: #1b1b1b; /* Cor de fundo escura */
    color: #f5f5f5; /* Texto claro para contraste */
    margin: 0;
    padding: 0;
    background-size: cover;
}

/* Cabeçalho */
header {
    background-color: #ffebf0; 
    padding: 20px;
    text-align: center;
    border-bottom: 2px solid #ff77a9; 
    position: relative;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); /* Sombra para profundidade */
}

header h1 {
    margin: 0;
    font-size: 2.5em; 
    color: #ff77a9; 
    font-family: 'Playfair Display', serif; 
    font-weight: bold;
}

header p {
    font-size: 1.2em; 
    color: #666; /* Cinza escuro para o texto do parágrafo */
    margin: 10px 0;
    font-family: 'Playfair Display', serif; 
    font-weight: bold;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline-block; 
    margin: 0 10px;
}

nav ul li a {
    color: #ff77a9; 
    text-decoration: none;
    font-size: 1.2em;
    font-family: 'Playfair Display', serif; 
    font-weight: bold;
    position: relative;
}

nav ul li a .laco {
    font-size: 1.5em; /* Tamanho ajustado */
    position: relative;
    display: inline-block;
    margin-left: 10px; /* Espaçamento entre o texto e o símbolo */
}

nav ul li a .laco .heart {
    color: #000; /* Cor preta para o coração */
}

/* Botões de Navegação */
.section-button {
    background-color: #ff77a9; 
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    font-family: 'Playfair Display', serif; 
    font-weight: bold;
}

.section-button:hover {
    background-color: #ff77a9; 
}

/* Main */
main {
    padding: 20px;
    max-width: 1200px; /* Limite de largura máxima */
    margin: 0 auto; /* Centralizar conteúdo */
}

/* Seções dos Jogos */
section {
    margin-bottom: 40px;
    position: relative;
}

h2 {
    border-bottom: 2px solid #ff77a9; 
    padding-bottom: 10px;
    font-size: 2.2em; 
    font-family: 'Playfair Display', serif; 
    font-weight: bold;
    color: #ff77a9; 
    position: relative;
}

h2 .laco {
    font-size: 1.5em; 
    font-weight: bold;
    position: absolute;
    right: -60px; 
    top: 50%;
    transform: translateY(-50%);
    color: #ff77a9; 
}

h3 {
    border-bottom: 1px solid #ff77a9; 
    padding-bottom: 5px;
    font-size: 1.8em; 
    font-family: 'Playfair Display', serif; 
    font-weight: bold;
    color: #ff77a9; 
    position: relative;
}

.game-section {
    margin-bottom: 30px;
    display: none; 
}

.game-section:target {
    display: block; 
}

/* Galeria */
.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Colunas com largura mínima de 300px */
    gap: 20px; /* Espaçamento entre as imagens */
}

.gallery a {
    display: block;
    position: relative;
    overflow: hidden; /* Oculta o excesso das imagens */
    border-radius: 10px; /* Arredondamento das bordas */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Sombra ao redor do contêiner */
    border: 3px solid #ff77a9; /* Borda ao redor do contêiner do link */
}

.gallery img {
    width: 100%;
    height: 100%; /* Altura total do contêiner */
    object-fit: cover; /* Ajusta a imagem para cobrir o espaço, mantendo a proporção */
    border-radius: 10px; /* Arredondamento das bordas da imagem */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Sombra ao redor do contêiner */
    transition: transform 0.3s ease, border-color 0.3s ease;
}

.gallery img:hover {
    transform: scale(1.05);
    border-color: #ff77a9;
}


/* Responsividade */
@media (max-width: 1024px) {
    .gallery {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Ajuste para telas menores */
    }
}

@media (max-width: 768px) {
    .gallery {
        grid-template-columns: 1fr; /* Muda para uma coluna em telas menores */
    }
}

@media (max-width: 480px) {
    .gallery img {
        height: 200px; /* Ajusta a altura das imagens em telas muito pequenas */
        border-radius: 3px; /* Ajusta o arredondamento das bordas para imagens pequenas */
    }
}

/* Rodapé */
footer {
    background-color: #ffebf0; 
    color: #333;
    text-align: center;
    padding: 10px;
    border-top: 2px solid #ff77a9; 
    position: relative; 
    margin-top: 20px;
    font-family: 'Playfair Display', serif; 
    font-weight: bold;
}

footer p {
    margin: 0;
    font-family: 'Playfair Display', serif; 
    display: inline-flex;
    align-items: center;
}

footer .footer-laco {
    font-size: 1.0em; /* Proporcional ao texto */
    color: #ff77a9; 
    margin-left: 2px; /* Espaçamento entre o texto e o emoji */
}

/* Botão pequeno no rodapé */
.footer-button {
    position: absolute; /* Para posicionar o botão no canto */
    left: 10px; /* Ajuste conforme necessário */
    bottom: 10px; /* Ajuste conforme necessário */
    background-color: #ff77a9; /* Cor de fundo igual aos outros botões */
    color: white;
    border: none;
    padding: 5px 10px; /* Menor do que os outros botões */
    border-radius: 5px;
    font-size: 14px; /* Tamanho do texto menor */
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    cursor: pointer;
    z-index: 20; /* Para garantir que o botão fique acima de outros elementos */
}

.footer-button:hover {
    background-color: #ff77a9; /* Uma cor ligeiramente mais escura para o hover */
}

/* Ícones dos links sociais */
.footer-icons {
    display: flex;
    gap: 10px; /* Espaçamento entre os ícones */
}

.footer-icons a {
    color: white; /* Cor dos ícones */
    text-decoration: none; /* Remove o sublinhado dos ícones */
}

.footer-icons i {
    font-size: 20px; /* Tamanho dos ícones */
}

/* Responsividade */
@media (max-width: 1024px) {
    header h1 {
        font-size: 2em;
    }
    
    header p {
        font-size: 1em;
    }
    
    nav ul li {
        margin: 0 5px;
    }
    
    .section-button {
        font-size: 14px;
        padding: 8px 16px;
    }
}

@media (max-width: 768px) {
    header h1 {
        font-size: 1.5em;
    }
    
    header p {
        font-size: 0.9em;
    }
    
    .section-button {
        font-size: 12px;
        padding: 6px 12px;
    }
    
    nav ul {
        text-align: center; /* Alinha a navegação no centro para smartphones */
    }
    
    nav ul li {
        display: block;
        margin: 10px 0;
    }
    
    .contact-info {
        bottom: 10px;
        right: 10px;
    }
}

/* Responsividade para telas menores que 480px (smartphones em retrato) */
@media (max-width: 480px) {
    header h1 {
        font-size: 1.2em;
    }

    header p {
        font-size: 0.8em;
    }

    .section-button {
        font-size: 10px;
        padding: 5px 10px;
    }

    .footer-button {
        font-size: 12px;
        padding: 4px 8px;
    }

    .footer-icons i {
        font-size: 18px; /* Ajusta o tamanho dos ícones sociais para telas pequenas */
    }
}

::-webkit-scrollbar {
    width: 12px; 
    height: 12px; 
}

::-webkit-scrollbar-thumb {
    background-color: #ffa4c6f1; 
    border-radius: 8px; 
    border: 3px solid #1b1b1b; 
}

::-webkit-scrollbar-track {
    background-color: #1b1b1b; 
    border-radius: 8px; 
}

::-webkit-scrollbar-thumb:horizontal {
    background-color: #ffa4c6f1;
    border-radius: 8px;
    border: 3px solid #1b1b1b;
}

::-webkit-scrollbar-track:horizontal {
    background-color: #1b1b1b;
    border-radius: 8px;
}

/* Contato Info (inicialmente oculto) */
.contact-info {
    display: none; /* Oculta por padrão */
    position: fixed;
    bottom: 60px; /* Ajuste conforme necessário */
    right: 20px; /* Ajuste conforme necessário */
    background-color: #1b1b1b; /* Cor de fundo */
    border: 1px solid #888;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 1000; /* Garante que fique acima de outros elementos */
}

/* Estilo dos Links */
.contact-info a {
    color: #ff77a9;
    text-decoration: none;
    display: block;
    margin-bottom: 10px;
}

.contact-info a:hover {
    text-decoration: underline;
}
